# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
_Spurs/data/data*
# !_Spurs/data/cat_variables*
